// write your CSS in here/*
 title: style.css Styles
 By:Stephen Ratliff
 for: VFW project 4
 Term: 12-11
*/

	

	
	
	
	}
	input{
		font-size:16px;
		font-family: "Times New Roman", Times, sans-serif;
		color:black;
		text-transform:none;
		
			
		
	}
	fieldset{
		
		background:white;
		background-position: center;
		font-family: "Times New Roman", Times, sans-serif;
		font-size:20px;
		font-weight:normal;
		
	}
	
	
	
		
	label.error{
		display:block; 
		margin:10px 0; 
		color:#cc0000;
	
	}	
	


	#rerrorslink{display:none;
	}	


	ui-header ui-bar-a {
	background : #660000;
	}
	
	